<div class="row">
  <div class="col-xs-12">
    <h1><%= current_user.username %>'s Profile</h1>
  </div>
</div>

<!--Display created notes-->
<% if !current_user.notes.empty? %>
<h3>List of notes:</h3>
<div class="row">
<%current_user.notes.reverse.each do |note| %>
  <div class="col-sm-6 well" style="margin: 5px;">
    <h6><a href="/notes">Content:</a><%= note.content %></h6>


    <!--Topics-->
    <label><a href="/notes">Topic:</a></label>
    <%note.topics.each do |topic|%>
     <a href=""> <strong class="label label-info">#<%= topic.name %></strong></a>
    <%end%>

    <p><a class="btn btn-default btn-xs" style="margin-right: 10px" href="/notes/<%=note.id%>/edit"><i class="glyphicon glyphicon-edit"></i></a>
    <a class="btn btn-default btn-xs" href="/notes/<%=note.id%>/delete"><i class="glyphicon glyphicon-trash"></i></a><p><br>
  </div>
<% end %>
</div>
<% end %>

<!--Add notes-->
<div class="container">
<div class="row">
<p><a class="btn btn-primary" href="/notes/new">Add Note</a></p>
</div>
</div>

<!-- <span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span> -->
<!-- <form id="task-form" action="/notes" method="post">
  <input type="text" name="topic" placeholder="topic" required><br>
  <input id="taskInput" type="text" name="content" placeholder="note content" required><br><br>
  <input class="btn btn-primary" type="submit">
</form> -->

<!--Update notes -->

<!--Delete notes -->